{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../modules/dolzay/views/css/omp/omp_detail.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=cancel,check_circle" />
{% endblock %}

{% block content %}
<div>
    <div class="dz-process-detail-header">
        <p>LE PROCESSUS DE SUIVI #{{process.id}}</p>
    </div> 
    <div class="dz-process-state-container ">
        <div class="dz-process-state-header">
            <p>L'ÉTAT DU PROCESSUS</p>
        </div>
            <div class="dz-process-state-body">
                <div class="dz-process-key-value"><label>État : </label> <span class="dz-badge dz-process-status" style="background-color:{{process.status_color}}">{{process.status}}</span></div>
                <div class="dz-process-key-value"><label>Heure et Date de début : </label> <span class="dz-process-start-date" >{{process.started_at}}</span></div>
                <div class="dz-process-key-value"><label>Heure et Date de fin : </label> <span class="dz-process-end-date" >{{process.ended_at ? process.ended_at : "____"}}</span></div>
            
                {% if process.items_to_process_cnt %}
                    <div class="dz-process-key-value dz-vertical-direction">
                        <label>Progrés : </label>
                        <div class="dz-progress-placeholder">
                            <div class="dz-progress" style="width:{{process.processed_items_cnt / process.items_to_process_cnt * 100}}%">
                                <span class="dz-process-monitored-orders">{{process.processed_items_cnt}}</span>
                            </div>
                            <span class="dz-process-orders-to-monitor">{{process.items_to_process_cnt}}</span>
                        </div>
                    </div>
                {% else %}
                    <div class="dz-process-key-value dz-process-progress">
                        <label>Progrés : </label>
                        <span>____</span>
                    </div>
                {% endif %}
                

                    {% if process.error %}
                        <div class="dz-process-key-value dz-vertical-direction">
                            <label>message d ‘erreur : </label> 
                            <div class="dz-error-message-container">
                                <span class="dz-error-message">
                                    {{ process.error.message }}
                                    {% if 'detail' in process.error|keys %}
                                        <span class="dz-more-detail" onClick="toggleProcessErrorDetail()">détail</span>
                                        <pre class="dz-error-message-detail">{{process.error.detail|json_encode(constant('JSON_PRETTY_PRINT'))}}</pre>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="dz-process-key-value dz-process-error">
                            <label>message d ‘erreur : </label> 
                            <span>____</span>
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>

    <div class="dz-order-list-container dz-updated-orders-container">
        <div class="dz-order-list-container-header">
            <p>LES COMMANDES MISES À JOUR</p>
        </div>
        <div class="dz-order-list-container-body">
            <div class="dz-order-list-filter-container">
                <div class="dz-filter-header">
                    <p>LE FILTRE</p>
                </div> 
                <div class="dz-filter-form">
                    <div class="dz-filter-form-first-row">
                        <div class="dz-form-group">
                            <label>Identifiant de commande</label>
                            <input class="form-control" name="order_id"  placeholder="Identifiant de commande" />
                        </div>
                        <div class="dz-form-group">
                            <label>client</label>
                            <input class="form-control" name="client" placeholder="client" />
                        </div>
                    </div>
                    <div class="dz-filter-form-first-row">
                        <div class="dz-form-group">
                            <label>Ancien status</label>
                            <select class="dz-status-select form-control" name="old_status">
                                <option value="">Tous</option>
                                {% for order_state_option in order_state_options %}
                                    <option value="{{order_state_option.id_order_state}}" data-background-color={{order_state_option.color}} >{{order_state_option.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="dz-form-group">
                            <label>Nouvel status</label>
                            <select class="dz-status-select form-control" name="new_status">
                                <option value="">Tous</option>
                                {% for order_state_option in order_state_options %}
                                    <option value="{{order_state_option.id_order_state}}" data-background-color={{order_state_option.color}} >{{order_state_option.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button class="dz-filter-btn">Filtrer</button>
                </div>
            </div>
            <div class="dz-order-list-container">
                <div class="dz-loading-overlay">
                    <div class="dz-order-list-table-spinner spinner-border" role="status">
                    </div>
                </div>
                <div class="dz-order-list-header">
                    <p>LES COMMANDES</p>
                </div>
                {#
                <div class="dz-slider-container">
                    <div class="dz-slider dz-slider-mode" id="dz-kpi-slider">

                        {% for kpi in process.kpis %}
                            <div class="dz-kpi-card" style="background-color:{{kpi.new_status_color}};">
                                <div class="dz-kpi-title">{{kpi.new_status}}</div>
                                <div class="dz-kpi-value">{{kpi.count}}</div>
                            </div> 
                        {% endfor %}
                    </div>
                    <div class="dz-slider-controls">
                        <button class="dz-slider-btn" id="dz-prev-btn" disabled>
                            <svg viewBox="0 0 24 24">
                                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
                            </svg>
                        </button>
                        <button class="dz-slider-btn" id="dz-next-btn">
                            <svg viewBox="0 0 24 24">
                                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                #}
                <div class="dz-order-list-body">
                    <table class="table">
                        <thead >
                            <tr>
                                <th>Identifiant de commande</th>
                                <th>Client</th>
                                <th>Ancien état</th>
                                <th>Nouvel état</th>
                                <th>Détail</th>
                            </tr>
                        </thead>
                        <tbody class="dz-order-list-table-body" >
                            {% for order in process.updated_orders %}
                                <td>{{order.id_order}}</td>
                                <td>{{order.firstname}} {{order.lastname}}</td>
                                <td><span class="dz-badge" style="background-color:{{order.old_status_color}}" >{{order.old_status}}</span></td>
                                <td><span class="dz-badge" style="background-color:{{order.new_status_color}}" >{{order.new_status}}</span></td>
                                <td><span class="dz-order-detail-link" onClick="goToOrder({{order.id_order}})" ><i class="material-icons">remove_red_eye</i></span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="dz-order-list-table-footer">
                    <p class="dz-pagination-range">{{pagination_attributes_of_updated_orders.first_end}} to {{pagination_attributes_of_updated_orders.last_end}} / {{pagination_attributes_of_updated_orders.total_count}}</p>
                    <div class="dz-page-number" >
                        <label>page : </label>
                        <select  class="dz-page-nb-select form-control" >
                            {% for i in range(1, pagination_attributes_of_updated_orders.total_pages) %}
                                <option value={{i}} >{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <select class="dz-batch-size-select form-control" >
                            {% for batch_size in batch_sizes %}
                                <option value={{batch_size}} >{{batch_size}}</option>
                            {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="dz-order-list-container dz-orders-with-errors-container">
        <div class="dz-order-list-container-header">
            <p>LES COMMANDES QUI ONT DES ERREURS</p>
            <span class="dz-red-circle"></span>
        </div>
        <div class="dz-order-list-container-body">
            <div class="dz-order-list-filter-container">
                <div class="dz-filter-header">
                    <p>LE FILTRE</p>
                </div> 
                <div class="dz-filter-form">
                    <div class="dz-filter-form-first-row">
                        <div class="dz-form-group">
                            <label>Identifiant de commande</label>
                            <input class="form-control" name="order_id"  placeholder="Identifiant de commande" />
                        </div>
                        <div class="dz-form-group">
                            <label>client</label>
                            <input class="form-control" name="client" placeholder="client" />
                        </div>
                    </div>
                    <div class="dz-filter-form-second-row">
                        <div class="dz-form-group">
                            <label>Type d'erreur</label>
                            <select class="form-control" name="error_type" placeholder="Type d'erreur">
                                <option value="" selected=true >Tous</option>
                                <option value="Erreur inattendue">Erreur inattendue</option>
                                <option value="Token invalide">Token invalide</option>
                                <option value="Champ(s) invalide(s)">Champ(s) invalide(s)</option>
                            </select>
                        </div>
                    </div>
                    <button class="dz-filter-btn">Filtrer</button>
                </div>
            </div>
            <div class="dz-order-list-container"  >
                <div class="dz-loading-overlay">
                    <div class="dz-order-list-table-spinner spinner-border" role="status">
                    </div>
                </div>
                <div class="dz-order-list-header">
                    <p>LES COMMANDES</p>
                </div>
                <div class="dz-order-list-body">
                    <table class="table">
                        <thead >
                            <tr>
                                <th>Identifiant de commande</th>
                                <th>Client</th>
                                <th>Erreur</th>
                                <th>Détail</th>
                            </tr>
                        </thead>
                        <tbody class="dz-order-list-table-body" >
                            {% for order in process.orders_with_errors %}
                                <td>{{order.id_order}}</td>
                                <td>{{order.firstname}} {{order.lastname}}</td>
                                <td><button class="dz-order-error-type-btn" onClick="openErrorDetailEventPopup({{order.error_detail}})" >{{order.error_type}}</button></td>
                                <td><span class="dz-order-detail-link" onClick="goToOrder({{order.id_order}})" ><i class="material-icons">remove_red_eye</i></span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="dz-order-list-table-footer">
                    <p class="dz-pagination-range">{{pagination_attributes_of_orders_with_errors.first_end}} to {{pagination_attributes_of_orders_with_errors.last_end}} / {{pagination_attributes_of_orders_with_errors.total_count}}</p>
                    <div class="dz-page-number" >
                        <label>page : </label>
                        <select  class="dz-page-nb-select form-control" >
                            {% for i in range(1, pagination_attributes_of_orders_with_errors.total_pages) %}
                                <option value={{i}} >{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <select class="dz-batch-size-select form-control" >
                            {% for batch_size in batch_sizes %}
                                <option value={{batch_size}} >{{batch_size}}</option>
                            {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('../modules/dolzay/views/js/omp/omp_detail.js') }}"></script>

</div>



{% endblock %}