{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../modules/dolzay/views/css/settings/settings.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=bar_chart,do_not_disturb_on,error,info,close,warning" />

{% endblock %}

{% block content %}
    
        <div class="dz-license-card">
            <div class="dz-license-card-header">
                <p>LA LICENCE</p>
            </div> 
            <div class="dz-license-card-body">
                <div class="dz-license-key-value"><label>Type : </label><span class="dz-badge" style="background-color:#f47f0a">{{settings.license_type}}</span></div>
                {% if settings.expiration_date %}
                    <div class="dz-license-key-value"><label>Date et heure d'expiration : </label><span>{{settings.expiration_date}}</span></div>
                {% endif %}
            </div>
        </div>
        <div class="dz-settings-card">
            <div class="dz-settings-card-header">
                <p>LES PARAMÈTRES</p>
            </div>
            <div class="dz-settings-card-body">
                <div class="dz-form-group">
                    <label>L'état de la commande après la soumission ?</label>
                    <select class="form-control" name="order_post_submit_state" value={{settings.post_submit_state_id}}>
                        {% for order_state_option in order_state_options %}
                            <option value={{order_state_option.id_order_state}} {% if order_state_option.id_order_state == settings.post_submit_state_id %} selected {% endif %}>{{order_state_option.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="dz-form-group">
                    <label>Le type d'exécution des processus ?</label>
                    <select class="form-control" name="process_execution_type" value={{settings.process_execution_type}}>
                        <option value="sync" {% if settings.process_execution_type == 'sync' %} selected {% endif %}>Synchrone</option>
                        <option value="async" {% if settings.process_execution_type == 'async' %} selected {% endif %}>Asynchrone</option>
                        <option value="cron" {% if settings.process_execution_type == 'cron' %} selected {% endif %}>Cron</option>
                    </select>
                </div>
                <div class="dz-carriers-card">
                    <div class="dz-carriers-card-header">
                        <p>LES TRANSPORTEURS</p>
                    </div>
                    <div class="dz-carriers-card-body">
                        <table class="table">
                            <thead >
                                <tr>
                                    <th>#</th>
                                    <th>Logo</th>
                                    <th>nom</th>
                                    <th>Modifier</th>
                                </tr>
                            </thead>
                            <tbody class="dz-carriers-table-body" >
                                {% for carrier in carriers %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td><img src="{{dz_module_media_base_url}}/{{carrier.logo}}"/></td>
                                        <td>{{carrier.name}}</td>
                                        <td><button onClick="popup.open('{{carrier.name}}','{{carrier.logo}}')" >modifier</button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="dz-carriers-card-footer">
                    <button onClick="saveSettings(this)" >Enregistrer</button>
                    <button onClick="terminateAllProcesses()" style="background-color:red;">Terminé tous les processus actifs</button>
                </div>
            </div>
            <script src="{{ asset('../modules/dolzay/views/js/settings/settings.js') }}"></script>
        </div>
{% endblock %}